body{
    background-color:slateblue;
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    font-family:cursive;
}
.calendar-container{
    background-color:white;
    width:300px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,.3);
    overflow:hidden;


}
.month-name{
    margin:0;
    background-color:orangered;
    color:white;
    padding:10px;
    font-size:30px;
    font-weight:bold;

}
.day-name{
    font-size:20px;
    color:darkgray;
}
.day-number{
    margin:0;
    font-size:80px;
    font-weight:bold;
}
.year{
    margin:20px 0;
    color:darkgray;
    font-weight:500;
}